@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Logged in!</h1>
        <h4>Users: </h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>User</th>
                <th>Algorithm</th>
                <th>Hash</th>
                <th>Hashcat Format</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.User.UserName</td>
                    <td>PBKDF2-HMAC-SHA256</td>
                    <td><small>@user.User.PasswordHash</small></td>
                    <td><small>@user.HashInfo.HashcatFormat</small></td>
                </tr>
            }
            
            </tbody>
        </table>
    </div>
}
